header {
    background-color: #244751;
    color: #e8fdff;
}

header a {
    color: #e8fdff;
}

header a:hover {
    color: #111111;
    text-shadow: 1px 1px 3px #e8fdff;
}

header .login-info i {
    padding: 5px 5px;
}

body {
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}

main {
    background-color: white;
    padding: 12px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 25%;
}

.finstagram-post .photo img {
    border-radius: 25px;
}

.finstagram-post .comments .comment-line {
    overflow: hidden;
    display: flex;
    align-items: baseline;
    margin: 5px 0px;
}

.finstagram-post .comments .comment-time {
    margin-left: auto;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    main {
      width: 70%;
    } 
}
  
@media screen and (max-width: 480px) {
    main {
        width: 95%;
    } 

    .user-info h2 {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 480px) {
    main {
        width: 95%;
    } 

    .user-info h2 {
        font-size: 1.1em;
    }

    .user-info h3,
    .actions,
    p {
        font-size: 0.9em;
    }
}