<h2>Update <%= current_user.username %>'s account settings?</h2>

<%= @error_message if @error_message %>

<form method="POST" action="/users/<%= current_user.id %>">
    <input type="hidden" name="_method", value="put">
    <div class="form-group">
        <label for="avatar_url">New Avatar URL</label>
        <input type="text" id="avatar_url" name="avatar_url" autofocus="autofocus">
    </div>
    <div class="form-group">
        <button class="button" type="submit">Update</button>
    </div>
</form>